# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Production build output
dist/
dist-ssr/
build/

# Vite local storage & cache
.vite/
.vercel/

# Environment & Local Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
test.txt

# Editor directories & OS junk
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Vitest / Coverage
coverage/
